##ignore this file ##
.idea
go.sum
/cmd/ipamwrapper/*.exe
/cmd/ipamwrapper/ipamwrapper
/cmd/ipamwrapper/test.go
/cmd/ipamwrapper-ds/*.exe
/cmd/ipamwrapper-ds/ipamwrapper-ds
/cmd/controller/*.exe
/cmd/controller/controller